.intro {
    font-weight: bold;
    font-size: 70px;
    color: white;
    position: relative;
    top: 315px;
    left: 880px;
}
.intro2 {
    font-size:30px;
    color: white;
    position: relative;
    top: 320px;
    left: 880px;
}
.img {
    position: relative;
    max-height: 400px;
    max-width: 400px;
    perspective: 1000px;
    clip-path: circle(40%);
    transition: transform 0.8s;
    transform-style: preserve-3d;
    object-fit: cover;
    top: 230px;
    left: 470px;
}
.button{
    background-color: white;
    color: black;
    border: 2px solid white;
    padding: 12px 24px;
    position: relative;
    display: inline-block;
	font-family: freight-big-pro;
    font-size: 20px;
    margin: 5px;
    top: 335px;
    left: 875px;
}

.buttonprojects{
	background-color: white;
    color: black;
    border: 2px solid white;
    padding: 12px 24px;
    position: relative;
    display: inline-block;
    font-size: 15px;
	font-family: freight-big-pro;
    margin: 5px;
    top: 10px;
    left: 10px;
}
.buttonprojects:hover{
	background-color: #0D1821;
    color: white;
	text-decoration: none;
}

.button:hover{
    background-color: #0D1821;
    color: white;
}

a {
    text-decoration: none;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 15px;
}

.js body:not(.mobile) {
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
	--color-text: #111;
	--color-bg: #fff;
	--color-link: #c0092b;
	--color-link-hover: #000;
	--color-menu: #000;
	--color-menu-hover: white;
	color: var(--color-text);
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: lato, "Minion Pro", serif;
	font-weight: 300;
}

.disclaimer{
    position: fixed;
    bottom: 20px;
    left: 50%;
    font-family: freight-big-pro;
    font-size:12px;
    color: white;
    transform: translateX(-50%);
}
